.house3d-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.house3d-canvas {
  width: 100%;
  height: 100%;
  display: block;
  outline: none;
}
